h1{
    font-size: 30px;
    font-weight: 700;
    color: black;
    
}

li {
    float: left;
  }
  
  a {
    display: block;
    padding: 1px;
  }

  .ImgAdi {
      display: block;
      margin-left: auto;
      margin-right: auto;
      

  }