.adititle {
float: left;
color: black;
font-weight: 900;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;

}

body {
  text-align: center;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Header styles */

.adinav {
  background-color: blue;
  box-sizing: border-box;
}

.adinav a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.adinav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.adinav li:hover {
  background-color: rgb(223, 223, 223);
}

.adinav li {
  float: right;
}

.yellow {
  align-items: center;
}
.casestudybutton {
  display: inline-block;
  background-color: blue;
  color: white;
  font-weight: 500;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  border-bottom: 2px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.casestudybutton:hover {
  display: inline-block;
  background-color: white;
  color: blue;
  font-weight: 500;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  border-bottom: 2px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.a:focus {
  color: azure;
  text-decoration: underline;
}

.a:active {
  color: #143a52;
}

img {
  width: 50%;
  height: 50%;
}

